p{font-size:30px;}
.blue_text{color:blue;}
.green_text{color:green;}
.red_text{color:red;}
.fixed_size{font-size:100px;}
.resonsive_size{font-size:3vw;}
.fixed_box{background-color:blue;}
.resonsive_box{background-color: red;}